swagger: "2.0"
info:
  description: "This is the API documentation for the android application WGPlaner."
  version: "0.0.1"
  title: "WGPlaner API Documentation"
  contact:
    name: WGPlaner-Team
    email: "wgplaner@ameyering.de"
  license:
    name: "MIT"
    url: "https://github.com/WGPlaner/wg_planer_server/blob/master/LICENSE"
host: "api.wgplaner.ameyering.de"
basePath: "/v0.1"

tags:
- name: group
  description: Group related endpoints
- name: user
  description: User related endpoints
- name: info
  description: Information related endpoints

schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  UserIDAuth:
    description: For accessing user related parts of the API a valid userID must be passed in 'Authorization' header.
    type: apiKey
    name: Authorization
    in: header
  FirebaseIDAuth:
    description: For accessing user related parts of the API a valid userID must be passed in 'Authorization' header.
    type: apiKey
    name: Authorization
    in: header

paths:
  /latest-version:
    get:
      tags:
      - info
      description: Get the latest version code for the API and android client
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/VersionInfo"
  /groups/{groupId}/create-code:
    get:
      tags:
      - group
      description: Creates and returns a group code. Deletes old codes if they exist.
      operationId: createGroupCode
      security:
        - UserIDAuth: []
      parameters:
        - name: groupId
          in: path
          description: The internal ID of the group
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/GroupCode"
        400:
          description: Invalid groupId
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: Unauthroized
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: Group not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /groups/join/{groupCode}:
    get:
      tags:
      - group
      description: The authenticated user joins a group through "groupCode"
      operationId: joinGroup
      security:
        - UserIDAuth: []
      parameters:
        - name: groupCode
          in: path
          description: The internal ID of the group
          required: true
          type: string
          pattern: '^[A-Z0-9]{9}$'
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/Group"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /groups/{groupId}:
    get:
      tags:
      - group
      description: Returns the group object
      operationId: getGroup
      security:
        - UserIDAuth: []
      parameters:
        - name: groupId
          in: path
          description: The internal ID of the group
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/Group"
        400:
          description: Invalid groupId
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: Group not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /groups/leave:
    post:
      tags:
      - group
      description: The authenticated user leaves his group
      operationId: leaveGroup
      security:
        - UserIDAuth: []
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/Group"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /groups:
    post:
      tags:
      - group
      description: Creates a new group
      operationId: createGroup
      security:
        - UserIDAuth: []
      parameters:
        - in: body
          name: body
          description: The name of the group to create
          required: true
          schema:
            $ref: "#/definitions/Group"
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/Group"
        400:
          description: Invalid group data
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: Unauthorized User
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users/{userId}:
    get:
      tags:
      - user
      description: Returns the user object
      operationId: getUser
      security:
        - FirebaseIDAuth: []
      parameters:
        - name: userId
          in: path
          description: The internal ID of the user
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/User"
        400:
          description: Invalid userId
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: Unauthorized User
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: User not found on server
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users/{userId}/image:
    get:
      tags:
      - user
      description: Get the user's profile image
      operationId: getUserImage
      security:
        - UserIDAuth: []
      parameters:
        - name: userId
          in: path
          description: The internal ID of the user
          required: true
          type: string
      produces:
        - application/octet-stream
        - application/json
      responses:
        200:
          description: Success
          schema:
            type: string
            format: binary
            readOnly: true
        400:
          description: Invalid userId
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      tags:
      - user
      description: Update the user's profile image
      operationId: updateUserImage
      security:
        - UserIDAuth: []
      parameters:
        - name: userId
          in: path
          description: The internal ID of the user
          required: true
          type: string
        - name: profileImage
          in: formData
          description: Success
          required: true
          type: file
      consumes:
        - multipart/form-data
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/SuccessResponse"
        400:
          description: Invalid userId
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users:
    post:
      tags:
      - user
      description: Creates a new user
      operationId: createUser
      security:
        - FirebaseIDAuth: []
      parameters:
      - in: body
        name: body
        description: The name of the user to create
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/User"
        400:
          description: Invalid user data
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      tags:
      - user
      description: Update an existing user
      operationId: updateUser
      security:
        - UserIDAuth: []
      parameters:
      - in: body
        name: body
        description: The users data to update
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/User"
        400:
          description: Invalid user data
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw

definitions:
  User:
    required:
      - uid
      - displayName
    properties:
      uid:
        type: string
      displayName:
        type: string
        maxLength: 20
        minLength: 3
      groupUid:
        type: string
        format: uuid
      locale:
        type: string
      photoUrl:
        type: string
        format: uri
      email:
        type: string
        format: email
      createdAt:
        type: string
        format: date-time
        readOnly: true
      updatedAt:
        type: string
        format: date-time
        readOnly: true
  Group:
    required:
      - displayName
    properties:
      uid:
        type: string
        format: uuid
        readOnly: true
      displayName:
        type: string
      currency:
        type: string
        maxLength: 4
      photoUrl:
        type: string
        format: uri
      admins:
        type: array
        items:
          type: string
        readOnly: true
      members:
        type: array
        items:
          type: string
        readOnly: true
      createdAt:
        type: string
        format: date-time
        readOnly: true
      updatedAt:
        type: string
        format: date-time
        readOnly: true
  GroupCode:
    required:
      - groupUid
      - code
      - validUntil
    properties:
      groupUid:
        type: string
        format: uuid
      code:
        type: string
        pattern: '^[A-Z0-9]{9}$'
      validUntil:
        type: string
        format: date-time
        readOnly: true
  ListItem:
    required:
      - title
      - category
    properties:
      title:
        type: string
      requestedFor:
        type: array
        items:
          type: string
      count:
        type: integer
      requestedBy:
        type: string
      price:
        type: integer
      category:
        type: string
      boughAt:
        type: string
        format: date-time
      createdAt:
        type: string
        format: date-time
        readOnly: true
      updatedAt:
        type: string
        format: date-time
        readOnly: true
  Bill:
    required:
      - billItems
      - state
      - createdBy
    properties:
      state:
        type: string
      sum:
        type: integer
      billItems:
        type: array
        items:
          type: string
      createdBy:
        type: string
      dueDate:
        type: string
      createdAt:
        type: string
        format: date-time
        readOnly: true
      updatedAt:
        type: string
        format: date-time
        readOnly: true
  VersionInfo:
    type: object
    required:
      - api_version_string
      - api_version_code
      - android_version_string
      - android_version_code
    properties:
      api_version_string:
        type: string
        readOnly: true
        example: "v0.1.0"
      api_version_code:
        type: integer
        readOnly: true
        example: 1
      android_version_string:
        type: string
        readOnly: true
        example: "v0.1.0"
      android_version_code:
        type: integer
        readOnly: true
        example: 1
  ErrorResponse:
    required:
      - status
      - message
    properties:
      status:
        type: integer
      message:
        type: string
  SuccessResponse:
    required:
      - status
      - message
    properties:
      status:
        type: integer
      message:
        type: string
