swagger: "2.0"
info:
  description: "This is the API documentation for the android application WGPlaner."
  version: "0.0.1"
  title: "WGPlaner API Documentation"
  contact:
    name: WGPlaner-Team
    email: "wgplaner@ameyering.de"
  license:
    name: "MIT"
    url: "https://github.com/WGPlaner/wg_planer_server/blob/master/LICENSE"
host: "api.wgplaner.ameyering.de"
basePath: "/v0.1"

tags:
- name: group
  description: Group related endpoints
- name: user
  description: User related endpoints

schemes:
  - http
consumes:
  - application/json
produces:
  - application/json

paths:
  /groups/{groupId}:
    get:
      tags:
      - group
      description: Returns the group object
      operationId: getGroup
      parameters:
        - name: groupId
          in: path
          description: The internal ID of the group
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Group"
        "400":
          description: Invalid groupId
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users/{userId}:
    get:
      tags:
      - user
      description: Returns the user object
      operationId: getUser
      parameters:
        - name: userId
          in: path
          description: The internal ID of the user
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/User"
        400:
          description: Invalid userId
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "User not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users:
    post:
      tags:
      - user
      description: Creates a new user
      operationId: createUser
      parameters:
      - in: body
        name: body
        description: The name of the user to display
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/User"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw

definitions:
  User:
    required:
      - displayName
    properties:
      uid:
        type: string
      displayName:
        type: string
      groupUid:
        type: string
      photoUrl:
        type: string
      email:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  Group:
    required:
      - displayName
      - admins
    properties:
      uid:
        type: string
      displayName:
        type: string
      currency:
        type: string
      admins:
        type: array
        items:
          type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  ListItem:
    required:
      - title
      - category
    properties:
      title:
        type: string
      requestedFor:
        type: array
        items:
          type: string
      requestedBy:
        type: string
      price:
        type: integer
      category:
        type: string
      boughAt:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  Bill:
    required:
      - items
      - state
      - createdBy
    properties:
      state:
        type: string
      sum:
        type: integer
      items:
        type: array
        items:
          type: string
      createdBy:
        type: string
      dueDate:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  ErrorResponse:
    required:
      - status
      - message
    properties:
      status:
        type: integer
      message:
        type: string
