swagger: "2.0"
info:
  description: "This is the API documentation for the android application WGPlaner."
  version: "0.0.1"
  title: "WGPlaner API Documentation"
  contact:
    name: WGPlaner-Team
    email: "wgplaner@ameyering.de"
  license:
    name: "MIT"
    url: "https://github.com/WGPlaner/wg_planer_server/blob/master/LICENSE"
host: "wgplaner.ameyering.de"
basePath: "/v0.1"
tags:
- name: group
  description: Group related endpoints
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
  - image/jpeg

paths:
  /groups/{groupId}:
    x-swagger-router-controller: groups
    get:
      tags:
      - group
      description: Returns the group object
      operationId: getGroup
      parameters:
        - name: groupId
          in: path
          description: The internal ID of the group
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Group"
        "400":
          description: Invalid groupId
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw

definitions:
  User:
    required:
      - uid
      - displayName
      - createdAt
      - updatedAt
    properties:
      uid:
        type: string
      displayName:
        type: string
      groupUid:
        type: string
      photoUrl:
        type: string
      email:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  Group:
    required:
      - uid
      - displayName
      - admins
      - createdAt
      - updatedAt
    properties:
      uid:
        type: string
      displayName:
        type: string
      currency:
        type: string
      admins:
        type: array
        items:
          type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  ListItem:
    required:
      - title
      - category
      - createdAt
      - updatedAt
    properties:
      title:
        type: string
      requestedFor:
        type: array
        items:
          type: string
      requestedBy:
        type: string
      price:
        type: integer
      category:
        type: string
      boughAt:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  Bill:
    required:
      - items
      - state
      - createdBy
      - createdAt
      - updatedAt
    properties:
      state:
        type: string
      sum:
        type: integer
      items:
        type: array
        items:
          type: string
      createdBy:
        type: string
      dueDate:
        type: string
      createdAt:
        type: string
      updatedAt:
        type: string
  ErrorResponse:
    required:
      - status
      - message
    properties:
      status:
        type: integer
      message:
        type: string
